<footer class="site-footer">
  <div class="social">
    {% for account in site.data.social %}
      <a href="{{ account.url }}" class="icon" target="_blank" title="{{ account.title }}">
        {% assign icon = 'svg/' | append: account.icon %}
        {% include {{ icon }} %}
      </a>
    {% endfor %}
  </div>
  <div class="links">
    {%- include links-footer.html -%}
  </div>
  <div class="info">
    <p>&copy; {{ site.title }} {{ "now" | date: '%Y' }}</p>
  </div>
</footer>

{%- include footer-scripts.liquid -%}