<a href="{% link pages/about.md %}" class="{% if page.url == '/about/' %}active{% endif %}">About</a>
<a href="{% link pages/classes.md %}" class="{% if page.url == '/classes/' %}active{% endif %}">Classes</a>
<a href="{% link pages/portfolio.md %}" class="{% if page.url == '/portfolio/' %}active{% endif %}">Portfolio</a>
<a href="{% link pages/prompts.md %}" class="{% if page.url == '/prompts/' %}active{% endif %}">Prompts</a>
<a href="{% link pages/posts.md %}" class="{% if page.url == '/posts/' %}active{% endif %}">Posts</a>
<a href="https://buttondown.email/richarmstrong" class="{% if page.url == '/mailinglist/' %}active{% endif %}">Mailing List</a>