<a href="{% link pages/story.md %}" class="{% if page.url == '/story/' %}active{% endif %}">The Story</a>
<a href="{% link pages/classes.md %}" class="{% if page.url == '/classes/' %}active{% endif %}">Classes</a>
<a href="/tags/nft" class="{% if page.url == '/tags/nft/' %}active{% endif %}">NFTs</a>
<a href="{% link pages/workouts.md %}" class="{% if page.url == '/workouts/' %}active{% endif %}">Workouts</a>
<a href="{% link pages/prompts.md %}" class="{% if page.url == '/prompts/' %}active{% endif %}">Prompts</a>
<a href="{% link pages/posts.md %}" class="{% if page.url == '/posts/' %}active{% endif %}">Posts</a>
<a href="https://ttkb.me/blast" class="{% if page.url == '/blast/' %}active{% endif %}">Newsletter</a>