<a href="{% link index.md %}" class="{% if page.url == '/' %}active{% endif %}">Content Library</a>
<a href="{% link pages/about.md %}" class="{% if page.url == '/about/' %}active{% endif %}">About</a>
<a href="{% link pages/contact.md %}" class="{% if page.url == '/contact/' %}active{% endif %}">Contact</a>
<a href="{% link pages/posts.md %}" class="{% if page.url == '/posts/' %}active{% endif %}">Posts</a>
<a href="{% link index.md %}">Portfolio</a>
<a href="{% link pages/join.md %}" class="{% if page.url == '/join/' %}active{% endif %}">Mailing List</a>
<a href="{% link pages/privacy.md %}" class="{% if page.url == '/privacy/' %}active{% endif %}">Privacy Policy</a>