{% assign btn_value = 'Join the crew' %}
{% if include.btn %}
	{% assign btn_value = include.btn %}
{% endif %}

{% assign btn_value = 'Join the crew' %}
{% if include.btn %}
	{% assign btn_value = include.btn %}
{% endif %}

{% assign kit_form_id = 6776086 %}
{% if include.kit_form_id %}
	{% assign kit_form_id = include.kit_form_id %}
{% endif %}

<form action="https://app.convertkit.com/forms/{{ kit_form_id }}/subscriptions" method="post" class="subscribe" target="_blank">
	<div class="inputs">
		<input type="email" required placeholder="Your Email Address" aria-label="Email Address" name="email_address">
		<input type="submit" value="{{ btn_value }}" name="subscribe">
	</div>
</form>
