{% if include.type %}
	{% assign type = include.type %}
{% else %}
	{% assign type = 'blast' %}
{% endif %}

{%- if include.type == 'teaching' -%}
	{% assign id = 'a3d8b744b9' %}
{%- elsif include.type == 'classes' -%}
	{% assign id = '115d09763d' %}
{%- else -%}
	{% assign id = '844aa7333e' %} {% comment %} blast is default {% endcomment %}
{%- endif -%}

{% if include.id %}
	{% assign id = include.id %}
{% endif %}

<form action="https://buttondown.email/api/emails/embed-subscribe/taptapkaboom" method="post" class="subscribe" target="_blank">
	<div class="inputs">
		<input type="email" required placeholder="Your Email Address" name="email">
		<input type="submit" value="Subscribe" name="subscribe">
	</div>
</form>

