<!-- type: list, inline, grid. Default: inline -->
<!-- sets: fruit, animals, words, numbers, colors, adjectives, names, phrases, etc.. Default: words (comma deliminated) -->
<!-- amount: 1-100. Default: 10 -->

<!-- time: 1-3600 (in seconds). Default: false. Add restart btn -->
<!-- reset_btn: true, false. Default: false. Reloads words -->
<!-- restart_btn: true, false. Default: false. Reloads words and resets timer -->
<!-- sounds: true, false. Default: false. Plays sounds when timer starts and stops -->
<!-- words: array ofr words. Specify. -->

{%- if include.sets -%}
  {%- assign sets = include.sets -%}
{%- else -%}
  {%- assign sets = 'test' -%}
{%- endif -%}

{%- if include.amount -%}
  {%- assign amount = include.amount -%}
{%- else -%}
  {%- assign amount = 10 -%}
{%- endif -%}

{%- if include.type -%}
  {%- assign type = include.type -%}
{%- else -%}
  {%- assign type = 'inline' -%}
{%- endif -%}

{{ include.prepend }}

{%- if type == 'list' -%}
  <ul class="_random random-list" data-type='{{ type }}' data-set='{{ sets }}' data-amount='{{ amount }}'>
    <li>Loading {{ sets }}...</li>
  </ul>
{%- else -%}
  <span class="_random random-inline" data-type='{{ type }}' data-sets='{{ sets }}' data-amount='{{ amount }}'>
    Loading {{ sets }}...
  </span>
{%- endif -%}

{{ include.append }}