<!-- type: ul, ol, span, div -->
<!-- template collection: fruit, animal, word, number, color, adjective, name, phrase, etc. -->
<!-- amount: 1-100. Default: 10 -->

<!-- time: 1-3600 (in seconds). Default: false. Add restart btn -->
<!-- reset_btn: true, false. Default: false. Reloads words -->
<!-- restart_btn: true, false. Default: false. Reloads words and redelimeter timer -->
<!-- sounds: true, false. Default: false. Plays sounds when timer starts and stops -->
<!-- words: array ofr words. Specify. -->

{%- if include.amount -%}
  {%- assign amount = include.amount -%}
{%- else -%}
  {%- assign amount = 10 -%}
{%- endif -%}

{%- if include.type -%}
  {%- assign type = include.type -%}
{%- else -%}
  {%- assign type = 'span' -%}
{%- endif -%}

{%- if include.template -%}
  {%- assign template = include.template -%}
{%- else -%}
  {%- assign template = '' -%}
{%- endif -%}

{%- if include.delimeter -%}
  {%- assign delimeter = include.delimeter -%}
{%- else -%}
  {%- assign delimeter = '' -%}
{%- endif -%}

{{ include.prepend }}

{%- if type == 'ul' -%}
  <ul class="_random random"
    data-type='{{ type }}'
    data-delimeter='{{ delimeter }}'
    data-amount='{{ amount }}'
    data-template='{{ template }}'>
    <li>Loading items...</li>
  </ul>
{%- elsif type == 'ol' -%}
  <ol class="_random random"
    data-type='{{ type }}'
    data-delimeter='{{ delimeter }}'
    data-amount='{{ amount }}'
    data-template='{{ template }}'>
    <li>Loading items...</li>
  </ol>
{%- elsif type == 'span' -%}
  <span class="_random random"
    data-type='{{ type }}'
    data-delimeter='{{ delimeter }}'
    data-amount='{{ amount }}'
    data-template='{{ template }}'>
    <span>Loading items...</span>
  </span>
{%- else -%}
  <div class="_random random"
    data-type='{{ type }}'
    data-delimeter='{{ delimeter }}'
    data-amount='{{ amount }}'
    data-template='{{ template }}'>
    <span>Loading items...</span>
  </div>
{%- endif -%}

{{ include.append }}