{% if include.title %}
  <h2 class="center">{{ include.title }}</h2>
{% endif %}

{% assign related_items = '' | split: '' %}

{% for item in include.items %}
  {% assign item_array = item | split: "/" %}
  {% assign folder = item_array[1] %}
  {% assign id = item_array[2] %}
  {% assign id_with_slash = id | prepend: '/'  %}
  
  {% if folder == '_learn' or folder == 'learn' %}
    {% if id %}
      {% assign match = site.learn | where: 'id', id_with_slash %}
      {% assign related_items = related_items | concat: match %}
    {% else %}
      {% assign page = site.pages | where: 'name', 'learn.md' %}
      {% assign related_items = related_items | concat: page %}
    {% endif %}
  {% elsif folder == '_art' or folder == 'art' %}
    {% if id %}
      {% assign match = site.art | where: 'id', id_with_slash %}
      {% assign related_items = related_items | concat: match %}
    {% else %}
      {% assign page = site.pages | where: 'name', 'art.md' %}
      {% assign related_items = related_items | concat: page %}
    {% endif %}
  {% elsif folder == '_posts' or folder == 'posts' %}
    {% if id %}
      {% assign match = site.posts | where: 'id', id_with_slash %}
      {% assign related_items = related_items | concat: match %}
    {% else %}
      {% assign page = site.pages | where: 'name', 'posts.md' %}
      {% assign related_items = related_items | concat: page %}
    {% endif %}
  {% elsif folder == '_pages' or folder == 'pages' %}
    {% assign filename = id | append: '.md'  %}
    {% assign match = site.pages | where: 'name', filename %}
    {% assign related_items = related_items | concat: match %}
  {% elsif folder == '_prompts' or folder == 'prompts' %}
    {% if id %}
      {% assign id_with_slash = id_with_slash | prepend: '/prompts'  %}
      {% assign match = site.prompts | where: 'id', id_with_slash %}
      {% assign related_items = related_items | concat: match %}
    {% else %}
      {% assign page = site.pages | where: 'name', 'prompts.md' %}
      {% assign related_items = related_items | concat: page %}
    {% endif %}
  {% endif %}
{% endfor %}

{%- include grid.html items=related_items -%}