::selection {
  background-color: transparentize(black, .95);
}

html, body{
	padding: 0; margin: 0;
	font-family: $ff2;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2em;
	background: white;
	color: black;
}

body{
	&.menu-open{overflow: hidden;}
}

h1,h2,h3,h4,h5,h6{
	font-family: $ff1;
	padding: 0;
	margin: 1.5em 0 1em;
	font-weight: bold;
	line-height: 1.2em;
	position: relative;
	
	& + p{
		margin-top: -.5em;
	}
}

h1{
	font-size: 48px;
	margin: 40px 0;
	line-height: 1em;
	margin: 10px 0 20px 0;
	
	& + h2{
		margin-top: -.7em;
		font-size: 24px;
		margin-bottom: 1.5em;
	}
	
	@media (max-width: $tabletMax) {
		line-height: 1em;
		margin: 10px 0 20px 0;
		& + h2{
			margin-top: -.5em;
			font-size: 24px;
		}
	}
	
	@media (max-width: $mobileMax) {
		font-size: 36px;
	}
}

h2{
	font-size: 36px;
	font-weight: bold;
	
	& + h1{
		margin-top: 0em;
	}
	
	& + h2{
		margin-top: 1em;
	}
	
	@media (max-width: $mobileMax) {
		font-size: 30px;
	}
}

h3{
	font-size: 30px;
	
	@media (max-width: $mobileMax) {
		font-size: 24px;
	}
}

h4{
	font-size: 24px;
	
	@media (max-width: $mobileMax) {
		font-size: 20px;
	}
}

h5{
	font-size: 20px;
	text-transform: uppercase;
	
	@media (max-width: $mobileMax) {
		font-size: 16px;
	}
}

h6{
	font-size: 20px;
	
	@media (max-width: $mobileMax) {
		font-size: 16px;
	}
}

a{
	color: black;
	text-decoration: underline;
	
	&:hover, &:active{
		color: $accentColor1;
	}
}

a, button, input[type="submit"]{
	transition: all 150ms;
	cursor: pointer;
	-webkit-tap-highlight-color: transparentize($accentColor1, .9);
	//user-select: none;
	
	> span{
		transition: all 150ms;
	}
	
	svg {
	  fill: currentColor;
	}
}

input[type="submit"]{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

a.cta{
	background-color: transparentize(black, .95);
	font-size: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	line-height: 20px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
	font-family: $ff1;
	font-weight: bold;
	padding: 12px 20px;
	min-height: 40px;
	border-radius: 24px;
	color: black;
	
	&:hover, &:active{ background-color: transparentize(black, .9); }
	
	&.selected{
		background-color: $accentColor4;
	}
	
	&.primary{
		background-color: $accentColor1;
		font-size: 20px;
		padding: 16px 24px;
		color: white;
		border-radius: 26px;
		
		&:hover, &:active{
			background-color: mix(black, $accentColor1, 10%);
		}
		 &:active{
			transform: translateY(2px);
		 }
	}
	
	&.bg-light{
		color: white;
		background-color: transparentize(white, .8);
		
		&:hover, &:active{ background-color: transparentize(white, .7); }
	}
	&.bg-dark{}
	
	h2 &{
		position: absolute;
		right: 0;
		margin: 2px 0 0 12px;
		
		@media (max-width: $mobileMax){
			display: none;
		}
	}
	
	// &.show-mobile-max{
	// 	display: none;
		
	// 	@media (max-width: $mobileMax){
	// 		display: flex;
	// 		width: 50%;
	// 		margin: 0 auto;
	// 	}
	// 	@media (max-width: $mobileMin){
	// 		display: flex;
	// 		width: 100%;
	// 	}
	// }
}

button, input[type="submit"]{
	font-size: 12px;
	appearance: none;
	border: none;
	outline: none;
	border-radius: 0;
}

button{
	background-color: white
}

p{
	font-size: 20px;
	margin: 1.5em 0;
	line-height: 1.5em;
	
	@media (max-width: $tabletMax) {
		margin: 1em 0;
	}
	
	a{
		color: black;
		&:hover, &:active{
			color: $accentColor1;
		}
	}
	
	strong{
		font-weight: 700;
	}
	b{
		font-weight: bold;
	}
}

ul, ol{
	padding: 0 0 0 40px;
	margin: 1.5em 0;
	
	li{
		
		ul, ol{
			margin: .5em 0;
		}
		
		margin-top: 12px;
		line-height: 1.5em;
		
		@media (max-width: $mobileMax) {
			line-height: 1.2em;
		}
		
		&:first-child{
			margin-top: 0;
		}
	}
	
	@media (max-width: $mobileMin) {
		padding-left: 30px;
	}
}

img{
	display: block;
}

hr{
	border: none;
	height: 1px;
	background: transparentize(black, .9);
	margin: 40px auto;
}

iframe{
	border: none;
	display: block;
}

blockquote{
	margin: 0;
	padding-left: 1em;
	border-left: 4px solid $accentColor3;
	box-sizing: border-box;
	
	p{
		font-style: oblique;
	}
	
	p:last-child{
		font-style: inherit;
		margin-top: -1em;
		font-weight: bold;
		
		@media (max-width: $tabletMax) {
			margin-top: -.5em;
		}
	}
	
	footer{
		font-weight: 600;
	}
	
	&.big{
		font-size: 30px;
		line-height: 1.1em;
		padding: 40px;
		border: none;
		text-align: center;
		background-color: $accentColor5;
		border-radius: 8px;
		position: relative;
		box-shadow: 0 0 8px transparentize(black, .9);
		
		p{
			font-size: inherit;
			line-height: 1.1em;
			font-style: normal;
			margin: 0;
			
			&::before{
				content: "“";
			}
			&::after{
				content: "”";
			}
		}
		
		footer{
			margin-top: 12px;
			font-size: .8em;
			font-weight: bold;
			
			&::before{
				content: "— ";
				margin-left: -12px;
			} 
		}
		
		&:after{
			content: "";
			box-shadow: inset 0 0 0 1px transparentize(black, .9);
			position: absolute;
			top: 0; bottom: 0; left: 0; right: 0;
			border-radius: 8px;
			pointer-events: none;
		}
		
		@media (max-width: $mobileMax) {
			padding: 20px;
			font-size: 24px;
			
			p{
				font-size: 24px;
			}
		}
	}
}

.notice-wrapper{
	box-sizing: border-box;
	width: $desktopMin;
	padding: 20px $wrapperHorizontalMarginDesktop/2 0;
	margin: 0 auto;
	
	.notice{
		background-color: $black05;
		position: relative;
		box-sizing: border-box;
		padding: 32px;
		width: 100%;
		max-width: $desktopMin;
		border-radius: 8px;
		overflow: hidden;
		display: flex;
		align-items: center;
		overflow: hidden;
		position: relative;
		
		&:after{
			content: "";
			position: absolute;
			top: 0; bottom: 0; left: 0; right: 0;
			box-shadow: inset 0 0 0 1px transparentize(black, .9);
			pointer-events: none;
			border-radius: 8px;
		}
		
		.notice-icon{
			max-width: 88px;
			max-height: 88px;
			margin-right: 20px;
			
			img{
				width: 100%;
			}
		}
		
		.notice-content{}
		
		p:first-child{
			margin-top: 0;
		}
		p:last-child{
			margin-bottom: 0;
		}
		
		&.hidden{
			display: none;
		}
	}
	
	@media (max-width: $tabletMax) {
		width: 100%;
		padding: 20px $wrapperHorizontalMarginDesktop/2;
	}
	@media (max-width: $mobileMax) {
		padding: 1px 0 20px;
		.notice{
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 0;
			width: 100%;
			text-align: center;
			
			.notice-icon{
				margin: 0 0 20px 0;	
			}
			
			&:after{
				border-radius: 0;
				left: -2px; right: -2px;
			}
		}
	}
}

.caption{
	display: block;
	margin: -8px 0 20px;
	color: black;
	font-size: .8em;
	line-height: 1em;
	opacity: .5;

	a{
		color: mix(black, white, 50%);
		
		&:hover, &:active{
			color: $accentColor1;
		}
	}
	
	& + .img-content.default-size{
		display: none;
	}
}

.marker{
	display: inline-block;
	padding: 0 .2em .1em;
	margin: 0 -.2em -.1em;
	z-index: -1;
	position: relative;
	background-color: $accentColor4;
	
	&.bright{
		background-color: $accentColor4;
	}
}

.center{
	h1, h2, h3, h4, h5, h6, p, div{
		text-align: center;
	}
}
h1, h2, h3, h4, h5, h6, p, div{
	&.center{text-align: center;}
}

.wrapper{
	padding: 1px 0 40px;
	//margin-top: -30px;
	background-color: $black02;
	background: linear-gradient(to bottom, white, $black02);
	
	@media (max-width: $tabletMax){
		//margin-top: -20px;
	}
}

.meta{
	margin: 40px 0 62px;
	
	p{
		color: mix(white, black, 50%);
		font-size: .8em;
		
		a:not(:hover):not(:active){
			color: mix(white, black, 50%);
		}
	}
	
	.tags{
		display: block;
	}
}

.ellipsis-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	display: inline-block
}

.logos-container{
	margin-bottom: 24px;
	
	h3{
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 1px;
		font-weight: bold;
		opacity: .5;
		margin-top: 40px;
	}
}

.logos{
  display: flex;
  align-items: center;
  justify-content: center;
  
  a{
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
    margin: 0 12px;
    opacity: .5;
    
    svg{ width: 100%; }
    
    &.portrait{
    	width: 50px;
    }
		
		&.wide{
    	width: 120px;
    }
    
    &:hover, &:active{
    	opacity: 1;
    }
	
	&.mid{
    	width: 70px;
    }
    
    &.wide{
    	width: 120px;
    }
    
    &:hover, &:active{
    	opacity: 1;
    }
  }
  
  @media (max-width: $mobileMax){
		justify-content: flex-start;
    flex-direction: column;
	
		a{
			height: auto;
			padding: 12px 0;
		}
  }
 }
 
@media (max-width: $mobileMax) {
	.hide-when-mobile{ display: none;}
}