.banner-cookies{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: white;
	box-shadow: 0 -1px 0 transparentize(black, .9);
	
	.content{
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		align-items: center;
		
		p{
			margin: 0 20px 0 0;
		}
		
		@media (max-width: $mobileMax) {
			flex-direction: column;
			
			p{
				text-align: center;
				margin: 0 0 20px 0;
			}
			
			a.cta{
				width: 100%;
			}
		}
	}
	
	
}