.banner{
	box-sizing: border-box;
	border-radius: 8px;
	margin: 0 (-$wrapperHorizontalMarginDesktop);
	width: calc(100% + #{$wrapperHorizontalMarginDesktop * 2});
	position: relative;
	padding: 40px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	
	.bg{
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	&.bg-type-cover .bg{ background-size: cover; }
	&.bg-type-contain .bg{ background-size: contain; }
	&.bg-type-center .bg{ background-size: auto 50%; }
	&.bg-type-pattern .bg{
		background-size: 50%;
		background-repeat: repeat;
	}
	
	&.align-top-left{ align-items: flex-start; justify-content: flex-start; text-align: left; }
	&.align-top-center{ align-items: center; justify-content: flex-start; text-align: center; }
	&.align-top-right{ align-items: flex-end; justify-content: flex-start; text-align: right; }
	
	&.align-middle-left{ align-items: flex-start; justify-content: center; text-align: left; }
	&.align-middle-center{ align-items: center; justify-content: center; text-align: center; }
	&.align-middle-right{ align-items: flex-end; justify-content: center; text-align: right; }
	
	&.align-bottom-left{ align-items: flex-start; justify-content: flex-end; text-align: left; }
	&.align-bottom-center{ align-items: center; justify-content: flex-end; text-align: center; }
	&.align-bottom-right{ align-items: flex-end; justify-content: flex-end; text-align: right; }
	
	&:before{
		content: "";
		box-shadow: inset 0 0 0 1px transparentize(black, .9);
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		border-radius: 8px;
		pointer-events: none;
		z-index: 1;
	}
	
	h2{
		margin: 0;
		
		& + h3{
			margin: 8px 0 0;
		}
	}
	h3{
		margin: 0;
	}
	
	.cta{
		margin-top: 20px;
	}
	
	@media (max-width: 1119px) {
		margin: 0 (-$wrapperHorizontalMarginDesktop * .5);
		width: calc(100% + #{$wrapperHorizontalMarginDesktop});
	}
	
	@media (max-width: $tabletMax) {
		
		&.align-top-left{
			.bg{
				mask-image: linear-gradient(to right top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
				-webkit-mask-image: linear-gradient(to right top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
			}
		}
		&.align-middle-left{
			.bg{
				mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
				-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
			}
		}
		&.align-bottom-left{
			.bg{
				mask-image: linear-gradient(to right top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
				-webkit-mask-image: linear-gradient(to right top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
			}
		}
		
		&.align-top-center{
			.bg{
				mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
				-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
			}
		}
		&.align-middle-center{
			.bg{
				mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
				-webkit-mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
			}
		}
		&.align-bottom-center{
			.bg{
				mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
				-webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
			}
		}
		
		&.align-bottom-right{
			.bg{
				mask-image: linear-gradient(to left top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
				-webkit-mask-image: linear-gradient(to left top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
			}
		}
		&.align-middle-right{
			.bg{
				mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
				-webkit-mask-image: linear-gradient(to left top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
			}
		}
		&.align-top-right{
			.bg{
				mask-image: linear-gradient(to left bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
				-webkit-mask-image: linear-gradient(to left top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 70%);
			}
		}
	}
	
	
	@media (max-width: $mobileMax) {
		margin: 0 (-$wrapperHorizontalMarginMobile);
		width: calc(100% + #{$wrapperHorizontalMarginMobile * 2});
		border-radius: 0;
		padding: 20px;
		
		&:before{
			border-radius: 0;
		}
	}
	
	@media (max-width: $mobileMin) {
		&.align-top-left,
		&.align-top-center,
		&.align-top-right,
		&.align-middle-left,
		&.align-middle-center,
		&.align-middle-right,
		&.align-bottom-left,
		&.align-bottom-center,
		&.align-bottom-right{
			align-items: center;
			justify-content: center;
			text-align: center;
			
			.bg{
				mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
				-webkit-mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
			}
		}
		
		a.cta{			
			&.bg-light{
				color: white;
				background-color: black;
				
				&:hover, &:active{ background-color: transparentize(black, .3); }
			}
			&.bg-dark{
				color: black;
				background-color: white;
				
				&:hover, &:active{ background-color: transparentize(white, .2); }
			}
		}
	}
}