.breadcrumbs{
	font-family: $ff1;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $black50;
	
	a{
		color: $black50;
		//text-decoration: none;
		
		&:hover, &:active{
			color: $accentColor1;
		}
	}
	
	& + h1, & + h2 { margin-top: 8px;}
}