.callout{
  border-radius: 8px;
  text-align: center;
  background-color: $accentColor1;
  padding: 48px 400px 48px 40px;
  color: white;
  box-shadow: 0 0 8px transparentize(black, .9);
  position: relative;
  background: #0052d0 url('../img/rich/rich-face-illo-1.jpg?v=12') no-repeat bottom right -40px;
  background-size: contain;
  box-sizing: border-box;
  
  &:after{
    content: "";
    box-shadow: inset 0 0 0 1px transparentize(black, .9);
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 8px;
    pointer-events: none;
  }
  
  form{
    margin: 24px auto 0;
    padding: 12px;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px white;
    max-width: 640px;
    position: relative;
    
    input[type="email"],
    input[type="text"],
    input[type="tel"]{
      background-color: transparent;
      box-shadow: none;
      color: white;
      position: relative;
      
      &::placeholder {
        color: white;
      }
    }
    
    button, input[type="submit"]{
      &:hover, &:active{
        background-color: $accentColor4;
      }
    }
    
    &:after {
      content: "";
      display: block;
      width: 162px;
      height: 258px;
      background: url('../img/cta-arrow-1.png') no-repeat center center / contain;
      position: absolute;
      right: -120px;
      top: -90px;
      z-index: 1;
      pointer-events: none;
    }
  }
  
  p.caption{
    margin-top: 12px;
    color: white;
  }
  
  &.full-width{
    $thumbMargin: 8px;
    margin: 0 (-$wrapperHorizontalMarginDesktop * .5 - 4px) $thumbMargin;
  }
  
  @media (max-width: $desktopMin) {
    &.full-width{
      border-radius: 0;
      margin: 0 (-$wrapperHorizontalMarginDesktop) 20px;
      width: calc(100% + #{$wrapperHorizontalMarginDesktop * 2});
      &:after{ border-radius: 0; }
    }
	}
	
  @media (max-width: 999px) {
    background: #0052d0;
    padding: 48px 24px;
    
    form{
      &:after {
        background-image: url('../img/cta-arrow-2.png');
        width: 32px;
        height: 74px;
        right: -45px;
        top: -40px;
      }
    }
	}
	
  @media (max-width: $tabletMax) {
    margin-top: 12px;
	}
  
  @media (max-width: $mobileMax) {
    padding: 24px;
    
    &.full-width{
      margin: 12px (-$wrapperHorizontalMarginMobile) 16px;
      width: calc(100% + #{$wrapperHorizontalMarginMobile * 2});
    }
      
    form{
      box-shadow: none;
      
      input[type="email"],
      input[type="text"],
      input[type="tel"]{
        box-shadow: inset 0 0 0 2px white;
      }
      
      &:after {
        display: none;
      }
    }
  }
	
}

.wrapper {
  > .content:last-child {
    > .callout:last-child {
      @media (max-width: $desktopMin) {
        &.full-width{
          margin-bottom: -40px;
        }
      }
    }
  }
}