.hero{
  max-width: 100vw;
  height: calc(100vh - 80px);
  min-height: 500px;
  max-height: 800px;
  background: #0052d0;
  background-size: contain;
  box-sizing: border-box;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  
  h2{
    margin-top: 0;
  }
  
  a{
    color: white;
    
    &:hover, &:active{
      color: #febfe7;
    }
    
    &.cta{
      width: max-content;
      color: black;
      background-color: white;
      
      &:hover, &:active{
        color: white;
      }
    }
  }
  
  p{
    font-size: 24px;
  }
  
  .social{
    display: flex;
    align-items: center;
    margin: 36px 0 20px;
    
    .icon{
      display: flex;
      align-items: center;
      width: 28px;
      height: 28px;
      margin-left: 16px;
      
      svg{ width: 100%; }
      
       &:first-child{ margin-left: 12px; }
      
      @media (max-width: $tabletMax){
        width: 24px;
        height: 24px;
      }
    }
  }
  
  .banner-content{
    box-sizing: border-box;
    padding: 24px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
  }
  
  .banner-image{
    //background: red url('../img/rich/rich-face-illo-1.jpg?v=12' no-repeat bottom right);
    box-sizing: border-box;
    display: block;
    max-height: 100%;
    align-self: flex-end;
  }
  
  @media (max-width: 1239px) {
    max-height: 600px;
  }
  @media (max-width: 1079px) {
    max-height: 400px;
  }
  
  @media (max-width: 979px) {
    flex-direction: column;
    max-height: none;
    height: auto;
    text-align: center;
    
    a.cta{
      margin: 0 auto;
    }
    
    h2{
      margin-top: 40px;
    }
    
    .banner-image{
      width: 100%;
      height: auto;
      max-width: 500px;
      align-self: center;
    }
    
    .social{
      margin: 36px auto 0;
      
      .icon{
        &:first-child{ margin-left: 0; }
      }
    }
    
    @media (max-width: $mobileMin){
      .banner-content{
        min-width: auto;
        
        br{
          display: none;
        }
      }
    }
  }
  
  &:after{
    content: "";
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    height: 1px;
    background: transparentize(black, .9);
  }
}