.hero{
  
  max-width: 100vw;
  height: calc(100vh - 80px);
  min-height: 500px;
  max-height: 800px;
  background: #0052d0;
  background-size: contain;
  box-sizing: border-box;
  position: relative;
  color: white;
  
  display: flex;
  justify-content: center;
  
  h2{
    margin-top: 0;
  }
  
  a{
    color: white;
    
    &:hover, &:active{
      color: #febfe7;
    }
    
    &.cta{
      width: max-content;
      color: black;
      background-color: white;
      
      &:hover, &:active{
        color: white;
      }
    }
  }
  
  p{
    font-size: 24px;
  }
  
  .social{
    display: flex;
    align-items: center;
    margin: 36px 0 20px;
    
    .icon{
      display: flex;
      align-items: center;
      width: 28px;
      height: 28px;
      margin-left: 16px;
      
      svg{ width: 100%; }
      
       &:first-child{ margin-left: 12px; }
      
      @media (max-width: $tabletMax){
        width: 24px;
        height: 24px;
      }
    }
  }
  
  .banner-content{
    box-sizing: border-box;
    padding: 24px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
  }
  
  .banner-image{
    //background: red url('../img/rich-face-illo-1.jpg?v=12' no-repeat bottom right);
    box-sizing: border-box;
    display: block;
    max-height: 100%;
    align-self: flex-end;
  }
  
  @media (max-width: 1239px) {
    max-height: 600px;
  }
  @media (max-width: 1079px) {
    max-height: 400px;
  }
  
  @media (max-width: 979px) {
    flex-direction: column;
    max-height: none;
    height: auto;
    text-align: center;
    
    a.cta{
      margin: 0 auto;
    }
    
    h2{
      margin-top: 40px;
    }
    
    .banner-image{
      width: 100%;
      height: auto;
      max-width: 500px;
      align-self: center;
    }
    
    .social{
      margin: 36px auto 0;
      
      .icon{
        &:first-child{ margin-left: 0; }
      }
    }
  }
  
  
  
  // padding: 80px 60px;
  // color: white;
  // text-align: center;
  // box-sizing: border-box;
  // 
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // width: 100vw;
  // height: 60vh;
  // min-height: 400px;
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: cover;
  
  // &.cover-without-title{background-size: cover;}
  // &.cover-with-title{background-size: cover;}
  // &.contain-without-title{background-size: contain;}
  // &.contain-with-title{background-size: contain;}
  // &.center-image-without-title{background-size: auto 60%;}
  // &.center-image-with-title{background-size: auto 60%;}
  // &.pattern-or-color-only{background-size: 50%; background-repeat: repeat;}
  
  &:after{
    content: "";
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    height: 1px;
    background: transparentize(black, .9);
  }
  
  // h1{
  //   margin: 0;
  // }
  // h3{
  //   margin: 12px 0 0 0;
  //   line-height: 1.5em;
  // }
  
  // @media (max-width: $tabletMax) {
  //   width: 100vw;
  //   padding: 60px 30px;
  //   h2{font-size: 40px;}
  //   a.cta{margin-top: 30px;}
  // }
  
  // @media (max-width: $mobileMax) {
  //   min-height: 240px;
  //   height: 50vh;
  //   padding: 45px 20px;
  //   h2{font-size: 30px;}
  //   a.cta{margin-top: 30px;}
    
  //   &.center-image-without-title{background-size: 75% auto;}
  //   &.center-image-with-title{background-size: 75% auto;}
  // }
  
  // @media (max-width: 399px) {
  //   height: 50vw;
  // }
}