.masonry{
	$thumbMargin: 16px;
	margin: 0 (-$wrapperHorizontalMarginDesktop * .5 - 12px) $thumbMargin;
	overflow: hidden;
	padding: 0 8px;
	box-sizing: border-box;
	
	.item{
		
		
		width: 332px;
		float: left;
		margin: 0 8px 16px;
		
		img{
			max-width: 100%;
		}
	}
}