nav{
	position: relative;
	background-color: white;
	height: 80px;
	width: 100%;
	box-sizing: border-box;
	z-index: 2;
	overflow: hidden;
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	
	.nav-content{
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
	
	.top-bar{
		height: $navHeightDesktop;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		flex-grow: 0;
		flex-shrink: 0;
	}
	
	h1{
		font-size: 40px;
		flex-grow: 1;
		flex-shrink: 1;
		height: 100%;
		box-sizing: border-box;
		margin: 0;
		text-align: left;
		
		a{
			background: $accentColor4 url('../assets/pfp-256.png') no-repeat center center / contain;
			text-indent: -999px;
			overflow: hidden;
			width: 64px;
			height: 64px;
			border-radius: 50%;
			display: block;
			margin: 8px 20px;
			box-sizing: border-box;
			
			&:hover{
				transform: rotate(-10deg) scale(1.1);
			}
			&:active{
				transform: rotate(-10deg) translateY(2px) scale(1.1);
			}
		}
	}
	
	@mixin menu-btn-size ($barWidth: 32px, $barHeight: 4px, $defaultY: 10px, $hoverY: 12px){
		.menu-icon{
			width: $barWidth;
			height: $barHeight;
			
			&:after, &:before{
				width: $barWidth;
				height: $barHeight;
			}
			
			&:after{ transform: translateY($defaultY); }
			&:before{ transform: translateY(-$defaultY); }
		}
		
		&:hover{
			.menu-icon{
				background-color: $accentColor1;
				&:after, &:before{ background-color: $accentColor1; }
				&:after{ transform: translateY($hoverY); }
				&:before{ transform: translateY(-$hoverY); }
			}
		}
		&:active{
			.menu-icon{
				background-color: $accentColor1;
				&:after, &:before{ background-color: $accentColor1; }
				&:after{ transform: translateY($defaultY); }
				&:before{ transform: translateY(-$defaultY); }
			}
		}
		
		.open &{
			.menu-icon{
				&:after{ transform: translateY($hoverY); }
				&:before{ transform: translateY(-$hoverY); }
			}
			&:hover{
				.menu-icon{
					&:after{ transform: translateY($defaultY); }
					&:before{ transform: translateY(-$defaultY); }
				}
			}
			&:active{
				.menu-icon{
					&:after{ transform: translateY($hoverY); }
					&:before{ transform: translateY(-$hoverY); }
				}
			}
		}
	}
	
	.menu-btn{
		height: 100%;
		width: 80px;
		position: absolute; top: 0; right: 0;
		padding: 0;
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		
		.menu-icon{
			position: relative;
			background-color: black;
			
			&:after, &:before{
				content: "";
				position: absolute;
				background-color: black;
				transition: all 150ms;
			}
		}
		
		@include menu-btn-size(32px, 4px, 7px, 9px);
		
		@media (max-width: $mobileMax){
			@include menu-btn-size(32px, 3px, 7px, 9px);
		}
	}
	
	.menu-links{
		height: 100%;
		box-sizing: border-box;
		display: flex;
		position: relative;
		margin-right: 80px;
		transition: visibility 0s, opacity 150ms linear;
		
		a{
			font-family: $ff1;
			font-size: 20px;
			line-height: 20px;
			display: block;
			padding: 28px 16px 36px;
			font-weight: bold;
			text-decoration: none;
			
			&.active{color: $accentColor1;}
		}
		
		@media (max-width: $mobileMax){
				margin-right: 32px;
		}
	}
	
	.menu{
		box-sizing: border-box;
		height: 100%;
		padding: 0 30px 30px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}
	
	.links{
		a{
			font-size: 40px;
			width: 100%;
			display: block;
			line-height: 40px;
			font-family: $ff1;
			padding: 4px 0;
			
			&.active{color: $accentColor1;}
		}
	}
	
	.social{
		display: flex;
		align-items: center;
		padding-top: 40px;
		margin-left: -8px;
		
		.icon{
			display: flex;
			align-items: center;
			width: 30px;
			height: 30px;
			padding: 0 8px;
			
			svg{ width: 100%; }
			
			&:last-child{margin-right: 0px;}
		}
	}
	
	&.open{
		height: 100vh;
		
		&:after{
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 100%;
			left: 0;
		}
		
		.menu-links{
			visibility: hidden;
		  opacity: 0;
		  transition: visibility 150ms, opacity 150ms linear;
		}
	}
	
	@media (max-width: 849px){
		.menu-links{
			display: none;	
		}
	}
	
	@media (max-width: 599px){
		height: $navHeightMobile;
		
		.top-bar{height: 50px;}
		
		h1{
			
			a{
				width: 42px;
				height: 42px;
				margin: 4px 8px;
				background-color: transparent;
			}
		}
		.menu-btn{width: 60px;}
	}
	
	@media (max-width: 399px){
		.links a{
			font-size: 26px;
			line-height: 26px;
			padding: 8px 0;
		}
		
		.social{
			margin-left: -4px;
			
			.icon{
				padding: 0 4px;
				
				&:last-child{margin-right: 0px;}
			}
		}
	}
	
	@media (max-height: 549px) {
		&.open{
			height: auto;
		}
		.nav-content{
			height: auto;
		}
	}
	@media (max-height: 439px){
		.menu{
			display: block;
		}
		
		.links a{
			font-size: 26px;
			line-height: 26px;
			padding: 2px 0;
		}
	}
}