.random{
	font-size: 30px;
	font-weight: bold;
	font-family: $ff1;
	
	@media (max-width: $mobileMax) {
		font-size: 24px;
	}
	
	.item{
		
	}
	
	.word{
		height: 48px;
		padding: 2px 10px 9px;
		background-color: #FEBFE7;
		color: black;
		display: inline-block;
		margin: 0 2px 10px;
		
		@media (max-width: $mobileMax) {
			font-size: 24px;
			padding-bottom: 0;
		}
	}
	
	// &.bulletless{
	// 	list-style-type: none;
	// 	padding-left: 0;
	// }
	
	&.masonry{
		list-style-type: none;
		padding-left: 0;
		position: relative;
		margin-bottom: 8px;
		overflow: hidden;
		
		.item{
			display: block;
			float: left;
			margin: 0 8px 8px 0;
			
			.word{
				margin: 0;
			}
		}
	}
	
	&.by-item{
		.item{
			background-color: #FEBFE7;
			padding-left: 10px;
			padding-right: 10px;
		}
		.word{
			padding-left: 0;
			padding-right: 0;
			background-color: inherit;
		}
	}
	
	&.alt1{
		.word{
			background-color: black;
			color: #FEBFE7;
		}
		&.by-item{
			.item{
				background-color: black;
				color: #FEBFE7;
			}
		}
	}
}