.random{
	font-size: 30px;
	font-weight: bold;
	font-family: $ff1;
	
	@media (max-width: $mobileMax) {
		font-size: 24px;
	}
	
	.word{
		height: 48px;
		padding: 2px 10px 9px;
		background-color: #FEBFE7;
		color: black;
		display: inline-block;
		margin: 0 2px 10px;
		
		@media (max-width: $mobileMax) {
			font-size: 24px;
			padding-bottom: 0;
		}
	}
}