---
layout: default
---

{% assign latest_items = site.learn | sort: "date" | reverse | slice: 0, 6 %}
{% assign popular_items = site.learn | sort: "popular" | reverse | slice: 0, 6 %}

<div class="content">
	
		{% include signup-callout.html class="full-width" %}
	
	{% comment %}{% include notice.html notice="Check this out" %}{% endcomment %}

	<div class="center">
		{{ content }}
	</div>
	
	{% include related-items.html title=include.title items=page.start_here %}
	
	<h2><span>Recent</span><a href="/learn" class="cta">Show All</a></h2>
	{% include related-items.html title=include.title items=page.recent %}
	
	<h2><span>Popular</span><a href="/learn" class="cta">Show All</a></h2>
	{%- assign items = site.learn | sort: 'popular' | reverse | slice: 0, 6 -%}
	{%- include grid.html items=items -%}
	
	<h2><span>A few fav artworks</span><a href="/art" class="cta">Show More</a></h2>
	<div class="portfolio in-content">
		{% for col in page.portfolio %}
			<ul class="col">
				{% for item in col[1] %}
					<li>
						{% if item.url %}
							<a class="rotate-hover-{% rotate_num %}" href="{{ item.url }}"><img src="{{ item.img }}" alt="{{ item.alt }}"></a>
						{% else %}
							<div><img src="{{ item.img }}" alt="{{ item.alt }}"></div>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</div>
	
	<hr>
	{%- include signup.html title="Get my daily mail" -%}
</div>
