---
layout: default
---

{% assign latest_items = site.items | sort: "date" | reverse | slice: 0, 6 %}
{% assign popular_items = site.items | sort: "popular" | reverse | slice: 0, 6 %}
{% assign free_items = site.items | sort: "free" | reverse | slice: 0, 6 %}
{% assign latest_posts = site.posts | sort: "date" | reverse | slice: 0, 6 %}

<div class="content">
	
	<div class="center">
		<h1>Want to <span class="marker">have fun</span> creating?</h1>
		<h2>We got you. Check our classes, books &amp; tools.</h2>
		{{ content }}
	</div>
	
	{%- include reviews.html -%}
	
	{%- include signup.html title="" btn="Sign me up!" -%}
	
	{% comment %}{% include notice.html notice="Check this out" %}{% endcomment %}
	
	<h2 class="filter-heading"><span>Content Library</span> <a href="#" class="cta" id="filterBtnsToggle">Filter</a></h2>
	<div class="filter-box" id="filterBox">
		
		<h4>Filter by type</h4>
		<div class="filter-btns">
			<a href="#" class="cta filterBtn" data-filter-type="type" data-filter="all">All</a>
			{% assign all_types = site.items | map: "type" | join: "," | split: "," | uniq | sort %}
			{% for type in all_types %}
				<a href="#" class="cta filterBtn" data-filter-type="type" data-filter="{{ type | slugify }}">{{ type }}</a>
			{% endfor %}
		</div>
		<h4>Filter by category</h4>
		<div class="filter-btns">
			<a href="#" class="cta filterBtn" data-filter-type="category" data-filter="all">All</a>
			{% assign all_cats = site.items | map: "categories" | join: "," | split: "," | uniq | sort %}
			{% for cat in all_cats %}
				<a href="#" class="cta filterBtn" data-filter-type="category" data-filter="{{ cat | slugify }}">{{ cat }}</a>
			{% endfor %}
		</div>
	</div>
	
	{%- assign items = site.items | sort: 'date' | sort: 'priority' | reverse -%}
	{%- include grid.html items=items -%}

	{%- include signup.html title="Want Creative Insights in Your Inbox?" btn="Sign me up!" -%}
</div>
