<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body ontouchstart="">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8QZ2DBQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="wrapper">
      <div class="content">
        <div class="center">
          <h1>{{ page.title | widont }}</h1>
          {% if page.subtitle and page.subtitle != "" %}
            <h2>{{ page.subtitle | widont }}</h2>
          {% endif %}
        </div>
        {{ content }}
      </div>
    </div>



  </body>

</html>
