---
layout: default
---
<div class="content">
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <div class="center">
      <h1>{{ page.title | widont }}</h1>
      {% if page.subtitle and page.subtitle != "" %}
        <h2>{{ page.subtitle | widont }}</h2>
      {% endif %}
    </div>
    {%- include content-header.html -%}
    {{ content  }}
    <div class="meta">
      <p>
        {% if page.collection == "art" %}
          <a href="/art-all/">Posted</a> 
        {% elsif page.collection == "learn" %}
          <a href="/learn/">Posted</a> 
        {% else %}
          <a href="{% link pages/posts.md %}">Posted</a> 
        {% endif %}
          on {{ page.date | date_to_string }} in 
        {% for cat in page.categories %}
          {% assign cat_slug = cat | slugify %}
          {% if forloop.last and forloop.first != true %}and {% endif %} <a href="{{ '/categories/' | append: cat_slug }}/">{{ cat }}</a>
        {% endfor %}
        {% if page.updated %}
          <span class="tags">
            Updated on {{ page.updated | date_to_string }}
          </span>
        {% endif %}
        {% if page.tags %}
          <span class="tags">
            <a href="/tags">Tagged</a> with 
            {% for tag in page.tags %}
              {% assign tag_slug = tag | slugify %}
              <a href="{{ '/tags/' | append: tag_slug }}/">#{{ tag | slugify }}</a>
            {% endfor %}
          </span>
        {% endif %}
      </p>
    </div>
  </article>
  {%- include signup.html kit_form_id=page.kit_form_id -%}
  {%- include related.html -%}
</div>
