---
layout: default
---
<div class="content">
  <article>
    {%- include content-header.html -%}
    {{ content  }}
    <div class="meta">
      <p>
      	This is a <a href="/workouts">creative workout.</a><br>
      	Checkout <a href="{% link _classes/5-minute-creative-workouts.md %}">the class</a> for more details.<br>
        <a target="_blank" href="mailto:rich@taptapkaboom.com?subject=Creative%20Workouts&body=">Send feedback & ideas!</a>
      </p>
    </div>
  </article>
  <hr>
  {%- include signup.html -%}
  {%- include related.html -%}
</div>
